$base-color: #645f5f;
$primary-color: #c1232a;
$secondary-color: #262424;
$lightgray-color: #f8f8f8;
$brown-color: #0d0303;
$muted-color: #928f8f;
$disabled-color: rgba($secondary-color, .5);

$base-font: "Exo2", sans-serif;
$rouble-font: "PTRoubleSans";

$heightSlider: 400px;
$heightFooter: 220px;

$base-font-size: 16px;

$box-shadow-card: 0 2px 20px 0 rgba(#000, .06);